@model EmployeeViewModel
@inject IUnitOfWork _unitofwork

@{
    var departments = new SelectList(_unitofwork.DepartmentRepository.GetAll() as IEnumerable<Department>, nameof(Department.Id), nameof(Department.Name));
}
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>


<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input class="form-control" asp-for="Age" />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input class="form-control" asp-for="Address" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="IsActive"></label>
    <input class="form-check" asp-for="IsActive" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" />
</div>


<div class="form-group">
    <label class="col-form-label" asp-for="HiringDate"></label>
    <input class="form-control" asp-for="HiringDate" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Department"></label>
    <select class="form-control" asp-for="DepartmentId" asp-items="@departments">
      <option value="@null">----Select Department----</option>
    </select>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Image"></label>
    <input type="file" class="form-control-file" asp-for="Image" />
</div>