@model RoleViewModel

<div class="form-group">
    <label class="col-form-label" asp-for="RoleName"></label>
    <input class="form-control" asp-for="RoleName" />
    <span asp-validation-for="RoleName" class="text-danger"></span>
</div>

