@model RoleViewModel
@{
    ViewData["Title"] = "Role Details";
}

<h1>Role Details</h1>
<br />
<div>
    <partial name="PartialViews/DeleteDetailsRolePartialView"></partial>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>|
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>
