
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                <p>Password reset link has been sent to your email, Please check ypur inbox</p>
            </div>
        </div>
    </div>
</div>

