@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendResetPasswordUrl" method="post">
			<div asp-validation-summary="All"></div>
			@*			<input class="text" type="text" name="Username" placeholder="Username" required="">*@
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input type="submit" value="Reset Password">
		</form>

	</div>
</div>
@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial"></partial>
	@*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
}

