@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignIn" method="post">
			<div asp-validation-summary="All"></div>
			@*			<input class="text" type="text" name="Username" placeholder="Username" required="">*@
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="checkbox">
					<span>Remember Me?</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Dont have an Account? <a asp-action="SignUp"> Register Now!</a></p>
		<p><a asp-action="ForgetPassword"> Forget Password ?</a></p>
	</div>
</div>
@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial"></partial>
	@*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
}
